@import "_color.scss";


.login-page {

  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  background-image: url(~assets/imgs/bgArabic.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Cairo;
  box-sizing: border-box;

  &.BgEng {
    background-image: url(~assets/imgs/bg.png);
  }


  .container-fluid {


    .image {


      display: flex;
      align-items: center;
      padding: 0 6.5rem;

      @media screen and (max-width:765px) {
        padding: 0 1rem;
      }

    }

    .loginForm {

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .login-form-container {
      a {
        font-size: 16px;
        font-family: Cairo;
      }

      .el-form-item__error {
        font-size: 12px;
        font-family: Cairo;
      }

      h4 {

        color: $mainColor;
        font-size: 32px;
        margin-bottom: 2rem;
        font-weight: bold;
      }

      .sub-title {
        p {
          margin-bottom: 2rem;
          color: rgba($color: $textColor, $alpha: 0.38);
        }

        h4 {
          margin: 0;
        }
      }

      h6 {
        color: $textColor !important;
        margin-bottom: 0.5rem !important;
        font-size: 18px !important;
        font-family: Cairo;
      }

      .el-form-item {
        width: 100% !important;
      }

      .el-input__inner {
        padding-right: 1.8rem;
        padding-left: 1.8rem;
        border: none;

        &::placeholder {
          color: $subColor;
          font-size: 16px;
          padding-bottom: 1rem;
        }


      }

      .el-input__suffix {
        right: 8px;
        cursor: pointer;

        .el-input__suffix-inner {
          color: $subColor;
        }
      }

      .el-input__prefix {
        left: 8px;
        cursor: pointer;

      }

      .el-input {
        width: 100%;
      }

      .first-btn {
        margin-top: 1.5rem;
      }

      .el-checkbox__label {
        padding-right: 10px;
        color: $textColor;
        font-size: 14px;
      }

      a {
        color: $textColor;
        text-decoration: none;
        font-size: 14px;
      }


      .error {
        color: #F56C6C;
        font-size: 12px;
      }

      .form-control {
        position: relative;
        width: 56px;
        height: 56px;
        margin-left: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 24px;
        color: $mainColor;
        border: none;
        border-radius: 6px;
        box-shadow: none;
        box-shadow: 0px 0px 3px #dddddd;

        &::before {
          content: "";
          width: 18px;
          height: 1px;
          position: absolute;
          top: 0.5em;
          left: 0.5em;

          border: 1px solid #DB833A;
          background-color: #DB833A;


        }
      }
    }

    .subNote {
      font-size: 14px;
      color: $textColor !important;
    }
  }


}

.el-input__inner {
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  color: #2f2f2f;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%;

  &::placeholder {
    font-family: cairo;
    font-size: 16px;
    color: #E5E5E5;
  }
}

.vs-notification__content__text {
  p {
    color: #ffffff;
    font-family: 'Cairo', sans-serif !important;
    font-weight: 600;
  }
}

.eng {
  input {
    margin-right: 0.4rem;
    margin-left: 0;
  }
}

.ar {
  input {
    margin-left: 0.4rem;
    margin-right: 0;
  }
}

// .engWidth {
//   width: 105% !important;
// }

.react-code-input {
  display: flex;

  input {
    position: relative;
    width: 56px !important;
    height: 56px !important;



    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: $mainColor !important;
    border: none !important;
    border-radius: 6px !important;
    caret-color: $mainColor !important;

    box-shadow: 0px 0px 3px #dddddd !important;

    &::before {
      content: "";
      width: 18px;
      height: 1px;
      position: absolute;
      top: 0.5em;
      left: 0.5em;

      border: 1px solid #DB833A;
      background-color: #DB833A;
    }
  }
}

.mt-icon-3 {
  margin-top: 0.8rem;
  cursor: pointer;
}
