@import "_bootstrap.scss";
@import "_color.scss";

.padding {
    @media screen and (max-width:501px) {
        padding: 10px;
    }
}

.course {
    background: #F8F8F8 !important;
    width: 100%;
    min-height: 100vh;


    .el-main {
        a {
            color: #FFF !important;
            font-size: 24px !important;
            text-decoration: none;
        }

        @media screen and (max-width:600px) {

            padding: 20px 10px !important;
        }
    }

    .nav-item {
        .nav-link {
            @media screen and (max-width: 290px) {
                margin: 0 !important;


            }
        }

    }

    .content {
        padding: 0 15px;

        @media screen and (max-width:500px) {
            padding: 0.5rem 0;
        }

        h3 {
            display: flex;
            align-items: center;
            margin: 0 0.4rem;

            .icon {
                width: 55px;
                height: 55px;
                background: #ffffff;
                border-radius: 50%;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    /* position: absolute; */
                    /* left: 17px; */
                    /* top: 25px; */
                    border-radius: 50%;
                    object-fit: cover;
                    padding: 1px;
                }
            }

            p {
                font-size: 20px;
                color: $textColor;
                font-weight: bold;
                margin: 0 1rem;
            }
        }


        .tabs {
            margin: 0.5rem 2rem;

            @media screen and (max-width:500px) {
                margin: 0.5rem 0;
            }

            .nav-tabs {
                border: none;



            }

            .nav-link {
                background: transparent;
                width: 90px;
                margin: 0 0.5rem;
                font-size: 20px !important;
                font-weight: normal;
                color: $textColor !important;
                border: none;
                text-align: center !important;

                @media screen and (max-width:385px) {
                    font-size: 16px !important;
                    width: 73px !important;
                    margin: 0 !important;
                }

                @media screen and (max-width:312px) {
                    font-size: 12px !important;
                    width: 60px !important;
                    margin: 0 !important;
                }



                &.active {
                    border-bottom: 2px solid $mainColor;
                }


            }
        }

        iframe {
            border-radius: 6px;
        }

        .videoHeader {
            margin: 14px 0;
            font-size: 16px;
            color: $textColor;
        }

        h4 {
            font-size: 16px;
            color: $textColor;
            margin: 0 0 14px;

            @media screen and(max-width:769px) {
                margin: 14px 0 14px;
            }

        }

        .otherVideos {
            max-height: 350px;
            width: 250px;

            @media screen and(max-width:769px) {
                width: 100%;
            }

            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: var(--thumbBG) var(--scrollbarBG);



            &::-webkit-scrollbar {
                width: 4px;
            }



            &::-webkit-scrollbar-track {
                background: var(--scrollbarBG);
                border-radius: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--thumbBG);
                border-radius: 6px;

                // border-radius: 6px;
                // border: 3px solid var(--scrollbarBG);
            }

            .icon {

                position: relative;
                width: 240px;
                height: 126px;
                margin: 0 auto 0.5rem;

                @media screen and(max-width:300px) {
                    width: 100%;
                }


                .bg {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 240px;
                    height: 126px;
                    background-color: rgba($color: #000000, $alpha: 0.4);
                    border-radius: 4px;
                    cursor: pointer;

                    @media screen and(max-width:300px) {
                        width: 90%;
                    }

                    img {
                        width: 38px;
                        height: 38px;
                    }
                }
            }

            img {
                width: 240px;
                height: 126px;

                @media screen and(max-width:300px) {
                    width: 90%;
                }

                border-radius: 4px;


            }
        }

        .question {
            h4 {
                color: $mainColor;
                font-size: 16px;
            }
        }

        .sendMsg {
            margin: 24px 2.1rem 0;

            @media screen and(max-width:767px) {
                margin: 24px 0rem;
            }

            .row {

                align-items: center;


                .col-md-1 {
                    @media screen and(max-width:767px) {
                        flex: 0 0 2.333%;
                        max-width: 2.333%;
                    }

                    &.pic {
                        flex: 0 0 7.333%;
                        max-width: 7.333%;

                        @media screen and(max-width:767px) {
                            flex: 0 0 4.333%;
                            max-width: 4.333%;
                        }
                    }
                }

                .col-md-6 {
                    @media screen and(max-width:767px) {
                        flex: 0 0 71.333%;
                        max-width: 71.333%;

                    }

                    @media screen and(max-width:281px) {
                        flex: 0 0 66.333%;
                        max-width: 66.333%;
                        padding-left: 0;

                    }
                }
            }

            .el-input {
                .el-input{
                    box-shadow: none !important;
                border: none !important;
                border-bottom: 1px solid rgba($color: #707070, $alpha: 0.6) !important;
                border-radius: 0 !important;
                background-color: transparent;
                height: 22px;

                font-size: 16px;
                color: rgba($color: $textColor, $alpha: 0.5);

                &::placeholder {
                    font-size: 16px;
                    color: rgba($color: $textColor, $alpha: 0.5);
                }
                }

            }

            .icon {
                width: 32px;
                height: 28px;
                background-color: #ffffff;
                border-radius: 2px;
                color: $textColor;
                font-size: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .el-avatar--large {
                @media screen and(max-width:770px) {
                    width: 30px;
                    height: 30px;
                }

                border: 1px solid $mainColor;
            }
        }

        .msg {
            margin: 0px 2.1rem;


            @media screen and(max-width:767px) {
                margin: 0px 0rem;
            }

            .row {
                &.bg-w {
                    align-items: center;
                    background-color: #ffffff;
                    min-height: 71px;
                    padding: 8px 20px;
                    border-radius: 6px;
                    margin-bottom: 13px;

                }


                .col-md-1 {


                    &.subhead {


                        @media screen and(max-width:767px) {
                            flex: 0 0 80.333%;
                            max-width: 80.333%;
                        }
                    }
                }

                .col-md-6 {
                    @media screen and(max-width:767px) {
                        flex: 0 0 71.333%;
                        max-width: 71.333%;

                    }

                    @media screen and(max-width:281px) {
                        flex: 0 0 66.333%;
                        max-width: 66.333%;
                        padding-left: 0;

                    }
                }
            }


            h5 {
                margin-bottom: 0;
                font-size: 14px;
                color: $textColor;
            }

            p {
                font-size: 14px;
                padding: 0 0rem;
                width: 100%;
                color: rgba($color: $textColor, $alpha: 0.5)
            }

            .icon {
                width: 100%;
                height: 28px;
                background-color: #ffffff;
                border-radius: 2px;
                color: $textColor;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0;


                p {
                    padding: 0 0rem;
                    margin: 0 0 0.3rem;
                    color: rgba($color: $textColor, $alpha: 0.5);
                    font-size: 12px;

                }
            }

            .el-avatar--large {
                @media screen and(max-width:770px) {
                    width: 30px;
                    height: 30px;
                }

                border: 1px solid $mainColor;
            }
        }

        .files {
            margin-top: 35px;

            .pdfIcon {
                background-color: #ffffff !important;
                width: 100%;
                text-align: center !important;
                height: 174px;
                border-radius: 6px;
                padding: 23px 0 25px;

                img {
                    margin-bottom: 13px;
                }

                p {
                    color: $textColor;
                    font-size: 16px;
                    text-align: center;
                }

            }
        }

        .largeScreen {
            @media screen and (max-width:701px) {
                // display: none;
            }

        }

        .exam {


            p {
                font-size: 20px;
                color: $textColor;


                &.text {

                    font-size: 18px;

                    @media screen and (min-width: 1036px)and (max-width:1038px) {
                        font-size: 16px;
                    }
                }
            }

            h3 {
                font-size: 18px;
                color: $textColor;
            }

            .el-select {
                width: 173px;

                .el-input__inner {
                    background-color: #ffffff;
                    color: $mainColor;
                    font-size: 16px;
                    width: 173px;
                    height: 32px;
                    border-radius: 4px;
                    border: none;
                    padding-bottom: 5px;
                    // display: flex;
                    // align-items: center;
                    min-height: auto;
                    box-shadow: 0 0 3px #ddd;
                }



            }



            .el-input__suffix {
                z-index: 600;
                position: absolute;
                right: auto;
                left: 30px;
                top: 5px
            }

            .el-option {
                text-align: center !important;
            }

            .arrowEng {

                .el-input__suffix {
                    z-index: 600;
                    position: absolute;
                    right: 30px;
                    left: auto;
                    top: 5px
                }

                .vs-icon-arrow {

                    -webkit-transform: rotate(-135deg);
                    transform: rotate(-135deg);

                }

                .activeOptions .vs-icon-arrow {

                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

            }

            .vs-icon-arrow {

                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);

            }

            .activeOptions .vs-icon-arrow {

                -webkit-transform: rotate(312deg);
                transform: rotate(312deg);
            }

            .vs-select-content {
                width: 173px !important;
            }

            .bg-gray {
                background: #EDEDED;
                width: 100%;
                min-height: 538px;
                margin: 14px 0;
                border-radius: 19px;

                .col-lg-1 {
                    flex: 0 0 3.7%;
                    max-width: 3.7%;
                    padding: 46px 12px 0 0;

                    &.english {
                        padding: 46px 0 0 5px !important;
                    }

                    max-height: 420px;

                    @media screen and (max-width:1132px) {
                        flex: 0 0 6%;
                        max-width: 6%;
                    }

                    @media screen and (max-width:739px) {
                        flex: 0 0 7%;
                        max-width: 7%;


                    }
                }

                .col-lg-11 {
                    flex: 0 0 96.3%;
                    max-width: 96.3%;
                    padding: 0 5px;

                    @media screen and (max-width:1132px) {
                        flex: 0 0 94%;
                        max-width: 94%;
                    }

                    @media screen and (max-width:739px) {
                        flex: 0 0 92%;
                        max-width: 92%;
                    }


                }

                .scroll {
                    max-height: 400px;
                    overflow: auto;
                   /* width */
                    &::-webkit-scrollbar {
                        width: 6px;
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #F28227 !important;
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555;
                    }
                }

                .border {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    border: 1px solid rgba($color: $textColor, $alpha: 0.3);
                    display: flex;
                    align-items: center;
                    margin-top: 9px;
                    cursor: pointer;
                    margin: 10px auto;

                    &.red {
                        border: 1px solid rgba($color: #FA5B5A, $alpha: 1) !important;

                        p {

                            border: 1px solid rgba($color: #FA5B5A, $alpha: 1);
                            color: rgba($color: $textColor, $alpha: 1);

                        }
                    }

                    &.active {
                        border: 1px solid rgba($color: $textColor, $alpha: 1) !important;

                        p {

                            border: 1px solid rgba($color: $textColor, $alpha: 1);
                            color: rgba($color: $textColor, $alpha: 1);

                        }
                    }


                    p {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 1px solid rgba($color: $textColor, $alpha: 0.3);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        font-weight: bold;
                        margin: 0 auto;
                        padding: 0 0 3px;
                        color: rgba($color: $textColor, $alpha: 0.3);

                    }
                }

                .bg-white {
                    background-color: #ffffff;
                    width: 100%;
                    border-radius: 19px;
                    min-height: 536px;
                    margin: 0.1rem 0 0.1rem 0;
                    box-shadow: 0px 0px 6px #ddd;

                    position: relative;


                    .absolute {
                        position: absolute;
                        bottom: 15px;
                        width: 90%;
                    }

                    p {
                        &.next {
                            cursor: pointer;
                            font-size: 14px;
                            color: $textColor;

                            span {
                                margin: 0.5rem 0.2rem 0;

                            }
                        }

                        &.disable {
                            opacity: .5;
                            pointer-events: none;
                        }
                    }

                    .question {
                        padding: 5px 40px 10px 55px;


                        .img-fluid {
                            height: 150px;

                        }

                        .vs-input {
                            label {
                                font-size: 20px;
                                font-weight: bold;
                                color: $textColor;
                            }
                        }

                        .vs-radio-content {
                            justify-content: flex-start;
                        }

                        p {
                            font-size: 20px;
                            color: $textColor;

                            &.textQuestion {
                                font-size: 18px;
                                color: #707070;
                                margin-bottom: 0;
                            }

                            &.question {
                                color: $mainColor;
                                font-size: 20px;
                                margin-top: 15px;
                                padding: 0;
                            }
                        }

                        textarea,
                        input {
                            resize: none;
                            height: 132px;
                            border: 1px solid #707070 !important;
                            box-shadow: none !important;

                            &::placeholder {
                                color: #E5E5E5;
                                font-size: 16px;
                            }

                        }

                        input {
                            height: 32px;
                            width: 90%;
                        }


                    }

                    .result {
                        .wrongAnswer {
                            margin-top: 1rem;
                        }

                        .content {
                            display: flex;
                            align-items: center;
                            height: 414px;
                            justify-content: center;

                            p {
                                text-align: center !important;

                                &.note {
                                    color: rgba($color: $textColor, $alpha: 0.30);
                                    font-size: 16px;
                                    margin-top: 8px;
                                }

                                &.num {
                                    margin: 0.5rem 0 0rem;
                                    font-size: 12px;
                                    font-weight: bold;
                                    color: $mainColor;
                                }

                                &.wrongAnswer {
                                    text-decoration: underline;
                                    color: $textColor;
                                    font-size: 14px;
                                    cursor: pointer;
                                    text-align: center !important;
                                    display: block;
                                }
                            }

                            .row {
                                align-items: center;
                            }



                        }

                        .img-fluid {
                            height: 414px;
                        }

                        .progress {
                            direction: ltr;
                            // background-color: transparent;
                            // border: 1px solid #707070;
                            border-radius: 5px;
                            box-sizing: border-box;
                        }

                        .progress-bar {
                            background-color: $mainColor;
                            border: 1px solid $mainColor;
                        }

                        .btn {

                            // width: 60%;
                            // height: 34px;
                            background: $textColor;
                            margin: 8px auto;
                            color: #ffffff;
                            border-radius: 16px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-top: 0.2rem;

                        }
                    }



                    .answer {
                        height: 49px;
                        padding: 12px 16px;

                        background-color: #ffffff;
                        box-shadow: 0 0 3px #ddd;
                        margin-top: 1rem;
                        border-radius: 6px;
                        cursor: pointer;



                        &.selected {


                            background-color: #FFF3EA !important;

                            .index {
                                background-color: $mainColor;
                                color: #ffffff;
                                border: none;
                            }

                        }

                        &.wrong {


                            background-color: #FFEEEF;

                            .index {
                                background-color: #FA5B5A;
                                color: #ffffff;
                                border: none;
                            }

                        }

                        .index {
                            width: 23px;
                            height: 25px;
                            border: 1px solid $textColor;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-bottom: 0.2rem;
                            border-radius: 6px;
                            color: $textColor;
                            background-color: #ffffff;
                        }

                        p {
                            font-size: 18px;
                            font-weight: bold;
                            color: $textColor;
                            margin: 0 0.5rem;
                        }
                    }
                }
            }
        }


        .smallScreen {
            @media screen and (min-width:701px) {
                display: none;
            }

            .border {
                margin: 0 .3rem;
            }

            .bg-white {
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
                padding: 40px 0 !important;


                .question {
                    padding: 5px 10px 10px 10px !important;
                }


            }
        }
    }

}

.el-select-dropdown__item {
    text-align: center;
    font-family: "STV";

    &.selected {
        background: #FFF3EA !important;
        color: $mainColor !important;


    }

    &.hover {
        background: rgba($color: $textColor, $alpha: 0.2) !important;
        color: $mainColor !important;
    }

}

.vs-select__options__content {
    direction: rtl;
}

.vs-select__option {
    color: $textColor !important;

    &:hover {
        color: $mainColor !important;
        padding-right: 14px;
    }
}

.vs-select__option.activeOption {

    background: #FFF3EA !important;
    color: $mainColor !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.orangeColor {
    color: $mainColor !important;

    font-size: 18px !important;

}

.none {
    display: none;
}

.diplayNone {
    display: none !important;
}

.choosen {
    background-color: #F0FCF7 !important;

    .index {
        background-color: #45D7B6;
        color: #ffffff;
        border: none;
    }
}

.el-radio__label {
    color: $textColor;
    font-size: 16px;

}

.el-radio__input.is-checked+.el-radio__label {
    color: $mainColor;

}

.el-radio__input.is-checked .el-radio__inner {
    border-color: $mainColor !important;
    background: $mainColor !important;
}

.btn {
    color: #ffffff;

    &.btn-green {
        background-color: #45D7B6;
    }

    &.btn-red {
        background-color: #FA5B5A;
    }
}

.vs-dialog {
    padding: 50px;
    font-family: "cairo";
}

audio::-webkit-media-controls-enclosure,
video::-webkit-media-controls-enclosure {
    border-radius: 6px;

    height: 30px;
    flex-shrink: 0;
    bottom: 0;
    text-indent: 0;
    padding: 0;
    background-color: #FFF3EA;
    box-sizing: border-box;
}

audio::-webkit-media-controls-mute-button {
    color: #ffffff !important;
    // background: #ffffff
}

.showresult {
    &.vs-button--default {
        background: transparent;
        box-shadow: none !important;
        color: $textColor;
    }
}

.alginItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blueColor {
    color: $textColor;
}
